@import "../../../../Base.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  background: $white-color 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px $gray100;
}
.header__title {
  width: 180px;
  height: 54px;
  padding-left: 70px;

  span {
    text-transform: capitalize;
  }

  span:nth-child(1) {
    color: $gray200;
    text-align: left;
    font: normal normal normal 40px/48px $fontFamilyTwo;
    letter-spacing: 1.15px;
  }
  span:nth-child(2) {
    color: $base-color;
    text-align: left;
    font: normal normal normal 30px/46px $fontFamilyOne;
    letter-spacing: 0.86px;
    color: $base-color;
  }
}

.header__menu {
  // display: block;
  padding-right: 65px;
  
  ul {
    display: flex;
    list-style: none;
    gap: 45px;

    li {
      cursor: pointer;
      font: normal normal medium 13px/20px $fontFamilyOne;
      letter-spacing: 0px;
      color: $gray200;
      text-align: left;
    }

    li.selected {
      color: $base-color;
    }

    li:hover {
      color: $base-color;
    }
  }
}

.header__iconhome {
  height: 25px;
  width: 25px;
  background-image: url("../../../../assets/icons/ic_home.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  margin-right: 33px;
  display: none;
}

@media screen and (max-width: 1098px) {
  .header__menu {
    display: none;
  }
  .header__iconhome {
    display: block;
  }
  .header__title {
    padding-left: 69px;
  }
}
