// Colors
$base-color: #d84a4a;
$gray50: #e9f1fa;
$gray100:#8395a7;
$gray200:#425966;
$gray300:#8395a766;


$white-color: #ffffff;
$black-color: #000000;

// Fonts
$fontFamilyOne:Poppins;
$fontFamilyTwo:Monster Clubhouse;

// Margins no apply 8 point rule