// Colors
$base-color: #d84a4a;
$gray50: #e9f1fa;
$gray75: #c2e3f3;
$gray100:#8395a7;
$gray200:#425966;
$gray300:#8395a766;
$gray800:#a9a9a911;


$white-color: #ffffff;
$black-color: #000000;
$blue-bg: #6aa3c1;

// Fonts
$fontFamilyOne:Poppins;
$fontFamilyTwo:Monster Clubhouse;

// Margins no apply 8 point rule